nv overlay evpn
feature ospf
feature bgp
feature pim
feature interface-vlan
feature vn-segment-vlan-based
feature lacp
feature vpc
feature nv overlay

!
fabric forwarding anycast-gateway-mac {{ any-cast_mac }}
!
