!
{% block comments %}
{% endblock %}
!
{% block features_to_enable %}
{% endblock %}
!
fabric forwarding anycast-gateway-mac {{ any_cast_mac }}
!
{% block vlan_database %}
{% endblock %}
{#route_map_list = [{name: 'FABRIC_RMAP_REDIST-VRFA, tag: 999}, {name: 'FABRIC_RMAP_REDIST-VRFB, tag: 1000}]
  The idea is to have a route-map per TENANT or VRF so we can redistribute the subnets in BGP.
  RECOMENDATION: Use the tag with the same number of the L3VNI
#}
{% block redistribution_route_map %}
{% endblock %}
{#
#Try to include vPC in the configuration
#vrf context Keep-Alive
#  address-family ipv4 unicast
#}
{% block vrf_definitions %}
{% endblock %}
{#
This commands required a reboot to take place.
without then supress-arp wont work
#}
hardware access-list tcam region vacl 0
hardware access-list tcam region arp-ether 256
{# This commands required a reboot to take place. #}
hardware qos ns-buffer-profile mesh
{# TODO: include VPC
vpc domain 105
  peer-switch
  peer-keepalive destination x.x.x.x source y.y.y.y vrf Keep-Alive
  peer-gateway
  ip arp synchronize
#}
!
{#
 The vlan_list_map is one per domain. This is only a requirement of this script.
vlan_list_map = [{vlan_id: 10, vxlan_id: 10010, name: 'WEB', ip_address: '10.0.0.1', vrf: 'TENANT-A' },
{vlan_id: 20, vxlan_id: 10020, name: 'DB', ip_address: '10.0.1.1', vrf: 'TENANT-B'},
{vlan_id: 30, vxlan_id: 10030, name: 'DB', vrf: 'TENANT-A'}]
ip_address is an optional key
route_map_list = [{name: 'FABRIC_RMAP_REDIST-VRFA, tag: 999}, {name: 'FABRIC_RMAP_REDIST-VRFB, tag: 1000}]
#}
{# IMPORTANT:  for some reason the IP address is not showing #}
{% block interface_vlan %}
{% endblock %}
{% block interface_vtep %}
{% endblock %}
{#
!
interface loopback0
  ip address x.x.x.x/32
  ip address y.y.y.y/32 secondary
  ip router ospf UNDERLAY area 0.0.0.0
  ip pim sparse-mode
!
router ospf UNDERLAY
  router-id x.x.x.x
  log-adjacency-changes detail
router bgp 65000
  router-id x.x.x.x
  address-family ipv4 unicast
  neighbor x.x.x.x remote-as 65000
    update-source loopback0
    address-family ipv4 unicast
    address-family l2vpn evpn
      send-community both
  neighbor x.x.x.x remote-as 65000
    update-source loopback0
    address-family ipv4 unicast
    address-family l2vpn evpn
      send-community both
  vrf Untrust-Trust-Transit
    address-family ipv4 unicast
      advertise l2vpn evpn
      redistribute direct route-map FABRIC-RMAP-REDIST-SUBNET
      redistribute static route-map STATIC=>BGP
#}
!
{% block evpn_definition %}
{% endblock %}
