{% extends "base.j2" %}

{% block features_to_enable %}
nv overlay evpn
feature ospf
feature bgp
feature pim
feature interface-vlan
feature vn-segment-vlan-based
feature lacp
feature vpc
feature nv overlay
{% endblock %}
